* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(244, 244, 248);
  color: #333;
  transition: background 0.3s, color 0.3s;
}

header {
  background: #222;
  color: #fff;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}

section {
  padding: 60px 10%;
  min-height: 80vh;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  font-size: 40px;
}

.home p {
  margin-top: 10px;
  font-size: 18px;
}

#dark-toggle {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #00bcd4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#dark-toggle:hover {
  background: #0097a7;
}

/* About */
.about {
  text-align: center;
  max-width: 900px;
  margin: auto;
}
.about h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #05146c;}

.about p {
  font-size: 20px;       
  line-height: 1.8;      
  color: #3d3838;       
  font-weight: 500;
}
.about p span {
  color: #04167d;
  font-weight: 600;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Contact */
.contact {
  text-align: center;
}

.contact a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #00bcd4;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.contact a:hover {
  background: #0097a7;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* Dark Mode */
.dark {
  background: #121212;
  color: #f4f4f4;
}

.dark header {
  background: #111;
}

.dark .project-card {
  background: #1e1e1e;
}
